{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}



<h1>About the Data</h1>
<p> The data used in this web app is from the source CORGIS Dataset Project which can be located here---(https://corgis-edu.github.io/corgis/json/school_scores/). The data contains SAT scores from each state across the USA from the year 2005 to year 2015. The statistics for each state were recorded once a year so inspecting statistics for certain months is incapable for this data set. </p>
<p> One of the statistics reported per state once a year is the Verbal section in the SAT. The term “Verbal” in the SAT was an outdated/older label to describe the SAT Reading and Writing sections as one whole before 2005. Even though this dataset is referring from between 2005-2015, they still called it “Verbal” but it’s only referring to “Verbal” as Reading only, not writing. Also, by this time the SAT contains 3 sections:  “Critical Reading”, “Math” and “Writing”. The name “Critical Reading” came from removing analogy questions (that existed before 2005), focusing on more evidence-based reading and sentence completions. (https://blog.prepscholar.com/what-is-sat-verbal) </p>
<p> An example of Verbal is in the section family income—between 20-40k in Alabama in 2005, their average verbal score is 527. This score averaging is by adding up all the scores in this section and dividing it by the amount of test takers in the same section. Another example of Verbal is in the section GPA— A minus in Alabama in 2005, their average verbal score is 575. </p>



{% endblock %}