{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}Page 1{% endblock %}

{% block content %}
    <!--page content-->
    <h1>Coolest Facts about each year</h1>

	<form action="/yearData1">
          <select name="year"> <!-- add onchange="this.form.submit()" to submit/update the form when an option is selected.  Usefull for then displaying county options. -->
            {{ year_options }}
          </select>
          <br><br>
          <input type="submit" value="Get data!">
        </form>
		<div id="funFactA">
            <p>{{ funFact1 }}</p>
		</div>
        <div id="funFactB">
            <p>{{ funFact2 }}</p>
		</div>
		<div id="funFactC">
            <p>{{ funFact3 }}</p>
		</div>
		<div id="funFactD">
            <p>{{ funFact4 }}</p>
		</div>
{% endblock %}
	
	
